<h1><%= talent.course %></h1>
<p><strong>Description:</strong> <%= talent.description %></p>
<p><strong>Hourly Rate:</strong> $<%= talent.hourlyRate %></p>
<a href="/talents/<%= talent._id %>/edit">Edit</a>
<form action="/talents/<%= talent._id %>?_method=DELETE" method="POST">
  <button type="submit">Delete</button>
</form>
<a href="/talents">Back to All Talents</a>
